
* {
    margin: 0%;
    padding: 0%;
    flex-wrap: wrap;
    box-sizing: border-box;
    font-family: 'Bitter', serif;
    font-family: 'Noto Nastaliq Urdu', serif;
}
html{
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}
body {
    width: 100%;
    height: auto;
}
.vid {
    width: 100%;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: absolute;
    z-index: 12345;
    animation: show 5s infinite;
}

.vid h3::before {
    display: block;
    background-color: white;
    width: 200px;
    height: 40px;
    content: "";
    z-index: 123;
    margin-bottom: -50px;
    animation: show 5s infinite;
}
/* 
page loader
*/
.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin-top: 50px;
}

.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    position: absolute;
    z-index: 23324332;
    box-sizing: border-box;
    border: 20px solid #36384c;
    border-color: #36384c transparent;
    animation: lds-hourglass 1.2s infinite;
}

.pg_load {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -999999;
    display: flex;
    align-items: center;
    justify-content: center;
        overflow: hidden;
    background-color: white;
    animation: show 4.9s;
    opacity: 0;
}

.pg_load p {
    font-size: 50px;
}

@keyframes show {
    0% {
            opacity: 1;
            z-index: 999999;
            overflow-x: hidden;
                overflow-y: hidden;
        }
    
        50% {
            opacity: 1;
        }
    
        100% {
            opacity: 0;
            z-index: 999999;
        }
    }
    
    @keyframes lds-hourglass {
        0% {
    
            transform: rotate(0);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    
        }
    
        50% {
            transform: rotate(900deg);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            margin-left: 250px;
        }
    100% {
        transform: rotate(1800deg);
    }
}