@media (max-width:850px) {
    section.page4 img {
        width: 70vw;
    }
}

@media (max-width:660px) {
    .page0 nav ul {
        width: 50%;
        justify-content: space-around;
    }

    .page0 nav {
        padding-inline: 5%;
        z-index: 234;
    }

    section.page3 {
        padding: 10px 10px;
    }

    section.page2 {
        padding: 10px 10px;
    }

    .image2_div {
        width: 100%;
        justify-content: center;
        display: flex;
        padding-inline: 10px;
        align-items: center;
    }

    .image2_div img {
        width: 50vw;
    }
}

@media (max-width:600px) {
    section.page4 {
        padding: 0px 0px;
    }
}

@media (max-width:550px) {
    nav ul {
        flex-direction: column;
        width: auto;
        align-items: flex-end;
        justify-content: space-between;
    }
}